.modal-body {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .modal-main {
    position:fixed;
    background: white;
    width: 25%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  .delete-modal{
    display: grid;
    grid-gap: 10px;
    border: 1px solid #c1c1c1;
  }

  .modal-buttons{
      justify-self: end
  }